@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar-sticky {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

label {
  padding-right: 10px;
}
.form-inline .form-control {
  width: 400px;
  margin-right: 10px;
}
.section {
  padding-top: 20px;
}
